/* Inter Font Headers, Titles, Subtitles, Home Page */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Noto Serif Blog Text */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.inter-title {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 3em;
}
.inter-title-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
}
.inter-text {
  font-family: 'Inter', sans-serif;
  line-height: 1.65;
  font-size: 1.25em;
  font-weight: 400;
}
.inter-subtext {
  font-family: 'Inter', sans-serif;
  line-height: 1.65;
  font-size: 1em;
  font-weight: 400;
}

.blog-text {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75em;
}